@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
}

:root {
    --color-blue-light: #34A3DB;
    --color-blue-dark: #1E5F80;
}
header{
    padding: 1rem;
}
#hour{
    color: var(--color-blue-dark);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6rem;
}
.btn{
    background-color: var(--color-blue-light);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
}
.menu{
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.2rem;
}
.menu li a{
    color: rgba(0, 0, 0, 0.652);
    text-decoration: none;
    transition: 0.2s;
}
.menu li a:hover{
    color: black;
    text-decoration: underline;
    font-size: 1.25rem;
}
